NEXT_PUBLIC_API_URL="http://localhost:4000"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_WHATSAPP="918667024499"
NEXT_PUBLIC_PHONE="+918667024499"
# Demo admin: admin@mrmobilezone.com / Admin@12345
