MONGODB_URI="mongodb+srv://USER:PASSWORD@cluster0.yylyuld.mongodb.net/mrmobilezone?retryWrites=true&w=majority"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_WHATSAPP="918667024499"
NEXT_PUBLIC_PHONE="+918667024499"
UPLOAD_STORAGE="local"
# Demo admin: admin@mrmobilezone.com / Admin@12345
