DEMO_MODE="true"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_WHATSAPP="918667024499"
NEXT_PUBLIC_PHONE="+918667024499"
UPLOAD_STORAGE="local"
